<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
</head>
<body>
    <form th:action="@{/auth/sign-up}" th:object="${signUp}" method="post">
        <label for="loginId">로그인 ID</label>
        <input type="text" id="loginId" th:field="*{username}">
        <br>
        <label for="password">비밀번호</label>
        <input type="password" id="password" th:field="*{password}">
        <br>
        <label for="email">이메일</label>
        <input type="email" id="email" th:field="*{email}">
        <br>
        <label for="nickname">닉네임</label>
        <input type="text" id="nickname" th:field="*{phoneNumber}">
        <br>
        <button type="submit">회원 가입</button>
    </form>
</body>
</html>