<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
</head>
<body onload="connect()">
    <div th:each="message : ${messages}">
        <p th:text="${message.username + ': ' + message.content + ' (' + message.time + ')'}"></p>
    </div>
    <p id="response"></p>
    <form id="message-form">
        <input type="text" id="message" placeholder="Write a message..."/>
        <button type="submit">Send</button>
    </form>
    <script src="/js/stomp.js"></script>
    <script type="text/javascript">
        let stompClient = null;
        const pathname = window.location.pathname;
        const chatId = parseInt(pathname.split("/")[2]);

        function connect() {
            const socket = new WebSocket('ws://localhost:8080/chatting');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe(`/queue/${chatId}`, function (message) {
                    const jsonMessage = JSON.parse(message.body);
                    if (Array.isArray(jsonMessage)) initialMessages(jsonMessage)
                    else receiveMessage(jsonMessage);
                });
            });
        }

        function initialMessages(messageList) {
            for (const message of messageList)
                receiveMessage(message)
        }

        function receiveMessage(messageOutput) {
            const response = document.getElementById('response');
            const p = document.createElement('p');
            p.style.wordWrap = 'break-word';
            p.appendChild(document.createTextNode(messageOutput.username + ": " + messageOutput.content + " (" + messageOutput.time + ")"));
            response.appendChild(p);
        }

        document.getElementById("message-form").addEventListener("submit", (event) => {
            event.preventDefault()
            const messageInput = document.getElementById('message');
            const content = messageInput.value
            stompClient.send("/app/chat/" + chatId, {},
                JSON.stringify({
                    'content': content
                }));
            messageInput.value = null
        })
    </script>
</body>
</html>